/* Custom styles for QuestionContent */

.question-content ol {
  list-style-type: decimal;
  margin-left: 2em;
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.question-content ul {
  list-style-type: disc;
  margin-left: 2em;
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.question-content li {
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.question-content p {
  margin: 0.5em 0;
  line-height: 1.7;
}

.question-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1.2;
  color: #1a202c;
}

.question-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 0.6em;
  line-height: 1.25;
  color: #2d3748;
}

.question-content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  color: #4a5568;
}
